@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(247, 247, 247);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(54, 54, 54);
}

#grid {
    display: grid;
}

#productContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 400px;
    max-height: 280px;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
    border: 2px solid rgb(216, 216, 216);
}

button{
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    transition: background-color 1s ease;
}

button:active{
    transform: scale(97%);
}

button:hover{
    background-color: rgb(32, 32, 32);
    color: white;
}